<!DOCTYPE html>
<head>
    <title>Image Edit Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://xinyu910-static.s3.amazonaws.com/static/styles.css">
</head>
<html>
    <body>
        {% include "nav_bar.html" %}
        <div class="wrapColumns" style="display:flex;
                                        justify-content:center;
                                        align-items:center;
                                        height:80vh;
                                        flex-flow: row wrap;
                                        column-gap: 5vw;">
            <div class = 'button-group' style="margin-top: 0">
                <a href="{{ url_for('resize_form') }}">
                    <button type="button" style="background-color: #caaa86;">Resize Image</button>
                </a>
                <a href="{{ url_for('sharpen_form') }}">
                    <button type="button" style="background-color: #A7A8A0;">Sharpen Image</button>
                </a>
                <a href="{{ url_for('blurr_form') }}">
                    <button type="button" style="background-color: #bf9988;">Blur Image</button>
                </a>
            </div>
            <div class = 'button-group' style="margin-top: 0">
                <a href="{{ url_for('rotate_form') }}">
                    <button type="button" style="background-color: #caaa86;">Rotate Image</button>
                </a>
                <a href="{{ url_for('grayscale_form') }}">
                    <button type="button" style="background-color: #A7A8A0;">GrayScale</button>
                </a>
                <a href="{{ url_for('threshold_form') }}">
                    <button type="button" style="background-color: #bf9988;">Thresholding</button>
                </a>
            </div>
        </div>
    </body>
</html>