<!DOCTYPE html>
<head>
    <title>Show Label Prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://xinyu910-static.s3.amazonaws.com/static/styles.css">
</head>
<html>
    <body>
     {% include "nav_bar.html" %}
     <form action="{{ url_for('save_image')}}" style="display: flex; align-items: center; column-gap: 1.8vmin;
                                                        position: relative; margin: 3vmin 3vmin 3vmin 15vmin;"
           method="post" enctype="multipart/form-data">
         <label for="key" class="form-label">Key</label>
         <input type="text" name="key" id="key" class="form-control" required/>
         <input type="hidden" name="image" id="image" value={{ image }}>
         <div style="text-align: center">
             <button type="submit" value="save" class="form-button"
             style="width: 20vmin;
                    height: 6vmin;
                    font-size: 2vmin;
                    border-radius: 1vmin;
                    margin-top: 0">Save Image in S3</button>
         </div>
     </form>
     <div class="container-fluid" style="margin-top: 0">
         <div class="row" style="margin-top: 5vh; margin-left: 0; margin-bottom: 5vh">
             <div class="col-7">
                 <div class="image" style="margin-bottom: 2vmin">
                     <img src="data:image/png;base64, {{ content }}" alt="Image" class="img-fluid" style="width:auto;height:66vh;">
                 </div>
             </div>
             <div class="col-5 text-center my-auto">
                 <h4>Predicted Labels:</h4>
                 {% for label in labels %}
                    <p>Class: <span><strong style="font-size: 3.5vmin; color: #DC9428">{{ label }}</strong></span>
                        with {{ confidence[loop.index0] }}% confidence</p>
                 {% endfor %}
             </div>
         </div>
     </div>
    </body>
</html>